@import url("./fonts.css");
@import url("./variables.css");

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  font-family: "Gilroy", sans-serif;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      var(--bg-color-transparent) 0%,
      var(--bg-color) 72%
    ),
    linear-gradient(transparent, var(--bg-color) 30%), url("../img/VG.png"),
    url("../img/MG.png"),
    linear-gradient(
      327deg,
      var(--bg-color-transparent) 0%,
      var(--bg-color) 100%
    ),
    url("../img/HG.png");
  background-position:
    center 1200px,
    center calc(768px + 880px),
    center 768px,
    center 464px,
    center 0,
    center 0;
  background-size:
    100% 700px,
    100% 1200px,
    100%,
    100%,
    100% 1200px,
    100%;
  background-repeat: no-repeat;

  padding: 64px 0;
  max-width: 1920px;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 91.5%;
}

.container-sm {
  padding: 0 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 108px;
  height: 24px;
  fill: var(--text-color);
  vertical-align: middle;
  transition: 0.5s;

  &:hover {
    fill: var(--accent-color);
  }
}

.main-nav {
  display: flex;
  gap: 40px;
}

.link {
  transition: 0.5s;
  color: var(--text-color);
  line-height: 22px;
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

.link-accent {
  color: var(--accent-color);
  &:hover {
    color: var(--text-color);
  }
}

.profile-name {
  transition: 0.5s;
  margin: 0;
  color: var(--text-color);
  font-size: 17px;
  line-height: 21px;
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto 940px;
  width: 950px;
}

.label {
  display: flex;
  align-items: center;
  gap: 32px;
  color: var(--accent-color);
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;

  &::before {
    background-color: var(--accent-color);
    width: 72px;
    height: 2px;
    content: "";
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 88px;
  line-height: 100px;
  font-family: "Chronicle Display", sans-serif;
  text-transform: capitalize;
}

.title-sm {
  font-size: 64px;
  line-height: 77px;
}

.preparations-list {
  display: flex;
  flex-direction: column;
  gap: 200px;
  counter-reset: preparations 0;
  padding: 0;
  list-style: none;
}

.preparation {
  display: flex;
  gap: 115px;
  counter-increment: preparations;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 27px;
  padding: 140px 0 140px 150px;
  min-width: 100px;
  height: 100px;

  &::before {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0.1;
    content: "0" counter(preparations);
    font-size: 240px;
    line-height: 1;
  }
}

.content-text {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 115px;
}

.about {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 24px;
}

.description {
  margin: 0;
}

.copyright {
  opacity: 0.5;
  margin-top: auto;
  font-weight: 500;
}

.menus {
  display: flex;
  gap: 212px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.title-xs {
  margin: 0;
  color: var(--accent-color);
  font-size: 24px;
  line-height: 32px;
}

.menu-link {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

.aside-nav {
  --position: 0;
  display: flex;
  position: fixed;
  top: 35%;
  right: 4.25%;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  transition: 0.3s;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  padding: 16px 32px;

  &::before {
    position: absolute;
    top: calc(25% * var(--position));
    right: -3px;
    transition: 0.3s;
    background-color: var(--text-color);
    width: 3px;
    height: 25%;
    content: "";
  }
}
